@model SAS.Models.ApplicationUser
@{
    ViewData["Title"] = "Change Password";
}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row pt-2">
            <div class="col-xl-12">
                <h1 class="text-center font-weight-bold">@ViewData["Title"]</h1>
                <hr />
                <p>@ViewData["Message"]</p>

                <div asp-validation-summary="All" class="text-danger"></div>

                <form method="post" asp-controller="SuperAdmin" asp-action="ChangePassword" asp-antiforgery="true" class="form-horizontal">
                    <div class="row">
                        <div class="col-xl-4" hidden="hidden">
                            <div class="form-group">
                                <label class="control-label" asp-for="Id">ID</label>
                                <input class="form-control form-control-sm" asp-for="Id" disabled />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label class="control-label" asp-for="UserName">Username</label>
                                <input class="form-control form-control-sm" asp-for="UserName" disabled />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group">
                                <!--only hashed passwords are stored in the database and the User class doesn't contain password property-->
                                <label class="control-label" for="password">Password</label>
                                <input class="form-control form-control-sm" name="password" type="password" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a class="btn btn-danger" asp-controller="SuperAdmin" asp-action="Index">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>